@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  text-align: left;
}

h1 {
  font-size: clamp(1rem, 4vw, 3rem);
  line-height: 1.1;
}

h2 {
  font-size: clamp(.80rem, 3vw, 1rem);
}

h3 {
  font-size: clamp(.80rem, 3vw, 1rem);
}

p {
  font-size: clamp(0.75rem, 2vw, 1rem);
}

label, span {
  font-size: clamp(0.75rem, 2vw, 0.85rem);
}

label {
  margin-bottom: 0.25rem;
}

.form-text {
  font-size: clamp(0.75rem, 2vw, 0.80rem);
}

.text-warning {
  font-size: clamp(0.45rem, 1vw, 0.65rem);
}

.form-title {
  font-size: clamp(1rem, 3vw, 1.45rem);
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.select-black-options {
  color: black;
}

input {
  color: black;
}

.container {
  max-width: 925px;
  margin: 0 auto;
  padding-inline: .50rem;
}
